<div class="container" style="{% style background-image background %}">

</div>

<script type="text/javascript">
// empty console.log for browsers lacking
if (!window.console) window.console={log:function(){}};

$(document).ready(function() {
	// Document is ready!
});
</script>