<!-- Sample Page: -->
<div data-role="page" id="home">
	<div data-role="header">
		<!-- Title Bar -->
	</div><!-- /header -->

	<div data-role="content">
		<!-- Main Content Area -->
	</div><!-- /content -->
</div><!-- /page -->

<script type="text/javascript">
$(document).ready( function () {
    if (typeof $.fn.prop !== 'function') {
	    $.fn.prop = function(name, value) {
	        if (typeof value === 'undefined') {
	            return this.attr(name);
	        } else {
	            return this.attr(name, value);
	        }
	    };
	}
	var oHead = document.getElementsByTagName('HEAD').item(0);
	var oScript= document.createElement("script");
	oScript.type = "text/javascript";
	oScript.src = "http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js";
	oHead.appendChild(oScript);
});

// Optional
$(document).bind("mobileinit", function () {

});
</script>