<div class="container">
	<div class="row">
		<div id="action">
			<h3>Examples of buttons:</h3>
			<button id="login" onClick="user_login();">Login</button>
			<button id="logout" onClick="FB.logout();">Logout</button>
		</div>
	</div>
	
	<div class="row auth not_connected">
		<h4>A user who is not connected to the application should see this.</h4>
		<p>This is also the default before authorization.</p>
	</div>
	
	<div class="row auth connected">
		<h4>A user who is connected to the application should see this.</h4>
	</div>
	
	<div class="row likes not_fans">
		<h4>A user who does not like the specified page should see this.</h4>
		<div><fb:like href="http://facebook.com/wildfireinteractive" send="false" width="450" show_faces="false"></fb:like></div>
		<p>This is also the default before authorization.</p>
	</div>
	
	<div class="row likes fans_only">
		<h4>A user who likes the specified page should see this.</h4>
	</div>
</div><!-- end .container -->

<script type="text/javascript">
/* ### Quick Checks ### */
var user_status = 'unknown'; 	// Possible values are 'unknown', 'not_authorized' or 'connected'
var user_auth 	= false; 		// user_auth differs from user_status because it is either true or false (false means either 'unknown' or 'not_authorized')
var fan_of_page = false; 		// Fan or not fan - obviously

/* Functions */
function check_user_status() { 	// Called on load to test if the user is already connected
	FB.getLoginStatus( function(response) {
		console.log(response);
		if (response.status == "not_authorized") {
			user_status = 'not_authorized';
			user_auth = false;
		} else if (response.status == "connected") {
			user_status = 'connected';
			user_auth = true;
			
			user_is_connected();
			check_fan_status(); // Since we've got permissions, check if they're a fan.
		} else if (response.status == "unknown") {
			user_status = 'unknown';
			user_auth = false;
		}
	});
};

function check_fan_status() {
	// We need to manually set the fan page we want to check for
	{% plugin rawtext fan_page_id %}
    var page_id = '{{ fan_page_id }}'; // e.g. VEVO = 79544810932

	// TODO - This function can almost certainly be replaced with something simpler.
	function isEmpty(obj) {
	    for (var prop in obj) {
	        if (obj.hasOwnProperty(prop)) {
	            return false;
			}
	    }
	    return true;
	}

	FB.api('/me/permissions', function (response) {
	    if (response.data[0].user_likes == 1) {
	    	FB.api('/me/likes/' + page_id, function(response) {
			    if (response.data) {
			        if (!isEmpty(response.data)) {
						user_auth = true;
						fan_of_page = true;
						
						user_fan_of_page();
			        } else {
						user_auth = true;
						fan_of_page = false;
				
						user_not_fan();
					}
			    } else {
					// might be logged in but not authed
					user_not_fan();
			    }
			});
	    } else {
	    	//user_login();
	    }
	});
};

function user_not_connected() {
	$('.auth').hide();
	$('.not_connected').show();
};

function user_is_connected() {
	$('.auth').hide();
	$('.connected').show();
};

function user_not_fan() {
	// Callback for function to do if user is fan
	$('.likes').hide();
	$('.not_fans').show();
};

function user_fan_of_page() {
	// Callback for function to do if user is not fan
	$('.likes').hide();
	$('.fans_only').show();
};

function user_login() {
	FB.login(function(response) {
		if (response.authResponse) {
			user_auth = true;
			user_status = 'connected';
			
			user_is_connected();
			check_fan_status();
		} else {
			// User cancelled or did not authorize
		}
	}, {scope:'user_likes'});
};

$(document).ready(function() {
	user_not_connected()
	user_not_fan()
	/*
	$('selector').click( function () {		
		if (user_auth == true && fan_of_page == true) {
			// User is logged in and has liked the page	

		} else if (user_auth == true && fan_of_page == false) {
			// User is logged in but hasn't liked the page yet
						
		} else if (user_auth == false && fan_of_page == false) {
			// User needs to log in		

		}
	});
	*/
});

$(document).bind('afterfbinit', function () {
	check_user_status();
	
	// This event is fired for any auth related change as they all affect the session: login, logout, session refresh.
	FB.Event.subscribe('auth.authResponseChange', function(response) {
		if (response.status == "not_authorized") {
			user_status = 'not_authorized';
			user_auth = false;
		} else if (response.status == "connected") {
			user_status = 'connected';
			user_auth = true;
			
			user_is_connected();
			check_fan_status(); // Since we've got permissions, check if they're a fan.
		} else if (response.status == "unknown") {
			user_status = 'unknown';
			user_auth = false;
		}
	});
	
	// This event is called when a like button is clicked.
	FB.Event.subscribe('edge.create', function(response) {
		console.log('Edge Create Called');
		console.log(response);
		check_fan_status();
	});
});
</script>